
body {
	background-color: black;
	color: grey;
}




#maintoolbar {
    position: absolute;
    display: none;
}



#notebook-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    padding: 0;
    zoom: 1;
}

.end_space {
    width: 0;
    hegiht: 0;
}



.cell {
    background: #FFF;
    z-index: 1;
    box-shadow: black 0px 0px 5px 0px;
}




.input-var-div {
	background-color: white;
	padding: 10px;
	margin: 5px;
	height: 10px;
	border: 2px solid black;
	border-radius: 10px;
	text-align: left;
}






.title {
	padding: 10px;
	cursor: move;
	color: #fff;
	border-radius: 10px;
}








.node-pin {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
}






.output-node-pin {
    background: red;
}






.input-node-pin {
    background: green;
}
