
#maintoolbar {
    position: absolute;
}

#notebook {
    cursor: grab;
    overflow: hidden !important;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}


#notebook-container {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.end_space {
    width: 0;
    height: 0;
}

.cell {
    position: absolute !important;
    display: inline-block !important;
    background: #FFFC;
    z-index: 1;
    box-shadow: black 0px 0px 5px 0px;
    min-width: 200px;
}

.node-resize-handle {
    content: '';
    width: 10px;
    height: 100%;
    background-color: transparent;
    display: inherit;
    position: absolute;
    top: 0px;
    cursor: col-resize;
    margin: 0 -5px;
}

.node-input, .node-output, .node-name {
    align-items: center;
    margin: 5px 0;
    display: flex;
}
.node-output {
    flex-direction: row-reverse;
}

.node-input input, .node-output input {
    flex: 1 1 auto;
    border: none;
    box-shadow: none;
    background: transparent;
}
.node-output input {
    text-align: right;
}

.node-input .node-pin, .node-output .node-pin {
    flex: 0 0 auto;
}

.code-format {
  font-family: monospace;
}


/* .node-input-pin, .node-output-pin {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: red;
    vertical-align: middle;
    border: 1px solid green;
} */



.node-title {
	cursor: move;
    color: #000;
    font-size: 24px;
    margin-bottom: 5px;
}



.node-pin {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 100%;
    background: red;
    vertical-align: middle;
    border: 2px solid green;
}

.btn-default {
    box-shadow: 1px 2px 5px #000000;
}

.wire {
  fill: none;
  stroke: rgb(53, 38, 84);
  stroke-opacity: 0.4;
  stroke-width: 6;
}

/* .CodeMirror-cursors {
    position: absolute !important;
    left: 0;
}

.CodeMirror-sizer {
    min-width: 0 !important;
    min-height: 0 !important;
}

.CodeMirror-scroll:nth-child(2) {
    display: none !important;
} */

* {
    transform-origin: top left;
}
